@charset "utf-8";

/* =============================================================================
   base
   ========================================================================== */

html {
  font-size: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
}

body {
  margin:0 0 10% 0;
  font-family: "微軟正黑體","新細明體", "細明體","細明體-ExtB",Verdana, Arial, Helvetica, sans-serif;
  font-size:100%;
  color:#333;
  letter-spacing:1px;
  line-height:170%;
}

/* =============================================================================
   hyperlink
   ========================================================================== */

a:link {
  color: #4785CF;
  text-decoration: none; 
}
a:visited {
  color: #4785CF;
  text-decoration:none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #FF0000;
}

a img { border: 0px;}

/* =============================================================================
   print
   ========================================================================== */
blockquote { margin: 1em 40px; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin:0; padding: 0; }

/* =============================================================================
   list
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 2%; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

li {margin-top: 4px}

/* =============================================================================
   embedded element
   ========================================================================== */

img { border: 0; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/* ==|== main style =====================================================

   ========================================================================== */

.toolkits {right: 0; top: 80%; position: fixed;}
.toolkit {display: table; }

.comment{font-size:85%;color:#069}
.hidden_comment{display:none}
.highlight_name {font-size:160%}
