{% extends "base.html" %}

{% block title %}三国志{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>三国志</h1>
    
</div>
<div class="page-content">
    <div>魏书</div>
    <ul>
    <li><a href="1">武帝纪(曹操传)</a></li>
    <li><a href="2">文帝纪(曹丕传)</a></li>
    <li><a href="3">明帝纪(曹叡传)</a></li>
    <li><a href="4">明帝纪(曹芳传)</a></li>
    <li><a href="5">后妃传</a></li>
    <li><a href="6">董二袁刘传</a>(<a href="6#dongzhuo">董卓</a> <a href="6#yuanshao">袁绍</a> <a href="6#yuanshu">袁术</a> <a href="6#liubiao">刘表</a>)</li>
    <li><a href="7">吕布张邈臧洪传</a>(<a href="7">吕布</a> <a href="7">张邈</a> <a href="7">臧洪</a>)</li>
    <li><a href="8">二公孙陶四张传</a>(<a href="8">公孙瓒</a> <a href="8">陶谦</a> <a href="8">张杨</a> <a href="8">公孙度</a> <a href="8">张燕</a> <a href="8">张绣</a> <a href="8">张鲁</a>)</li>
    <li><a href="9">诸夏侯曹传</a>(<a href="9">夏侯惇</a> <a href="9">夏侯渊</a> <a href="9">曹仁</a> (<a href="9">曹纯</a>) <a href="9">曹洪</a> <a href="9">曹休</a> (<a href="9">曹肇</a>) <a href="9">曹真</a> <a href="9">曹爽</a> <a href="9">夏侯尚</a> <a href="9">夏侯玄</a>)</li>
    </ul>
</div>
{% endblock %}
